@font-face {
	font-family: 'Goudy';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/GoudyStM-webfont.eot) format('eot');
	src: url(fonts/GoudyStM-webfont.woff) format('woff'),
	     url(fonts/GoudyStM-webfont.ttf) format('truetype');

}

@font-face {
	font-family: 'Spinnaker';
	font-style: normal;
	font-weight: 400;
	src: local('Spinnaker'), 
	     local('Spinnaker-Regular'), 
	     url(http://fonts.gstatic.com/s/spinnaker/v8/W7zI5bHqD9Cyn2evfF7Qnz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.ui-dialog .ui-dialog-content {
	padding: 0;
}

div#page_contents ol {
	padding-left: 2em;
}

#contents_btn {
	margin-left: 1em;
	vertical-align:middle;
	border: 1px solid #123b7c;
	border-radius: 5px;
}

#contents_btn:hover {
	background-color: #CAD7E3;
}

body { 
	font-family: 'Spinnaker', Arial, Helvetica, sans-serif;
	font-size:   16px;
	width:       100%;
	padding:     0px;
	margin:      0px;
	border:      0px;
	-webkit-font-smoothing: antialiased;
 }

code {
	border-radius: 2px;
	border: 1px solid #CAD7E3;
	background-color: #E4EBF2;
	font-size:   85%;
}

.box_container {
	width:100%;
}

img { 
	max-width: 100%;
}

.info, .warning, blockquote {
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0 0 7px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 7px 
	-moz-box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.info, .warning {
	margin: 0px 0px 10px 0px;
	padding:5px 10px 5px 65px;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 40px 40px;
	width: 100%;
	display:inline-block;
	text-align: left;
	min-height: 40px;
}

.info {
	color: #30300A;
	border: 1px solid #30300A;
	background-color: #FBFFB0;
	background-image: url('images/jeh-tech/icons/notepad.png');
}

.warning {
	color: #662B2B;
	border: 1px solid #662B2B;
	background-color: #F7D0D0;
	background-image: url('images/jeh-tech/icons/alert.png');
}

blockquote {
	font-family: 'Goudy', Times, serif;
	font-size:   16px;
	padding: 15px 5px 5px 15px;
	background-color: #E4EBF2;
	border-top: 1px solid #7999b9;
	border-bottom: 1px solid #7999b9;
	border-left: 0.6em solid #7999b9;
	margin: 0px;
	background-image: url(images/jeh-tech/quotes.png);
	background-position: top left;
	background-repeat: no-repeat;
}

blockquote footer {
	font-family: 'Spinnaker', Arial, Helvetica, sans-serif;
	font-size:   14px;
}

ol.linenums li 	{ border-left:1px solid grey; padding-left:5px;
		}
	  
ol.linenums li:nth-child(n)	{ list-style: decimal-leading-zero;
				}

pre.prettyprint	{ border: 1px solid lightgray;
		  border-right: 0px;
		  border-left: 5px solid gray; 
		}

pre { 
	border-left:  5px solid gray;
	padding-left: 5px;
	font-family:  "Consolas", "Courier New", Courier, mono, serif;
	border:       1px solid lightgray;
	border-right: 0px;
	border-left:  5px solid gray;
}

h1, h2, h3 {
	border-left:  0px;
	border-right: 0px;
	border-top:   0px;
	margin:       0px;
	font-weight:  bolder;
}

h1 {
	border-bottom:    3px solid gray; 
	height:           40px;
	background-color: #CAD7E3;
}

h1.title {
	margin-top: 0px; 
}

h2 {
	border-bottom: 1px solid gray; 
	background-color: #E4EBF2;
}

h3 {
	border-bottom: 1px solid gray;
}

#header	{ margin:           0px; 
	  padding:          0px; 
	  background-color: #9DB3C7; 
	  height:           40px; 
	  text-align:       center; 
	  vertical-align:   center; 
	  width:            100%;
	  font-size: 16px;
	  font-weight: bolder;
	}

table 	{ margin: 0;
	  border: 1px solid gray;
	}

table, td	{ vertical-align: top;
		  text-align:     left;
		}

table th	{ font-weight:bold;
		  background-color: #E4EBF2;
		}

table caption   { background-color: #CAD7E3;
		}

#content {
	margin: 0px;
	width: 100%;
}

@media screen {
	#header { 
		background-image: url(images/jeh-tech/PCB_bkdg.jpg);
		background-position: 0px 0px;
	}

	#content { 
		border-left:      1px solid black; 
		margin:           0px 0px 0px 250px; 
		width:            auto; 
		padding:          0px;
		padding-left: 10px;
	}

	#sidebar { 
		border:   0px solid green; 
		margin:   0px 0px 0px 0px; 
		padding:  0px; 
		width:    250px; 
		position: fixed;
		top: 40px;
		left: 0px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	h1, h2 {
		margin-left: -10px; 
		padding-left: 10px; 
		width:100%;
		display: block;
	}

	#content h1 {
		background-image: url(images/jeh-tech/PCB_bkdg.jpg);
		background-position: -251px -40px;
		z-index: 1000; // Make sure things like MathJax renderings are behind this with JS makes it fixed for scroll
	}

	#sidebar h1 {
		background-image: url(images/jeh-tech/PCB_bkdg.jpg);
		background-position: 10px -40px;
	}

	a { 
		font-weight: bold; 
		font-style: italic;
	}

	pre { 
		overflow: auto;
	}

	expander span { 
		background-color: #CAD7E3; 
		width: auto;
	}
	expander span:hover{ 
		background-color: #E4EBF2; 
	}

	expander img { 
		vertical-align: middle; 
	}

	detailed_content { 
		display: none;
	}
}

@media print {
	/* From http://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag */
	pre	{ white-space: pre-wrap;       /* CSS 3 */
		  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		  white-space: -pre-wrap;      /* Opera 4-6 */
		  white-space: -o-pre-wrap;    /* Opera 7 */
		  word-wrap: break-word;       /* Internet Explorer 5.5+ */
		}

	#content	{ border:  0px;
			  margin:  0px 50px 0px 50px; 
			  width:   auto; 
			  padding: 0px;
			}
      

	#sidebar	{ display: none; 
			}
}
